
.coming-section * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.coming-section {
  background-color:  #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  height: 40vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -50px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 120px;
  font-weight: bold;
}
.waviy span {
  position: relative;
  display: table-cell;
  color: var(--primary);
  text-transform: uppercase;
  animation: waviy 2.5s infinite;
  animation-delay: calc(.2s * var(--i));
  padding: 0 4px;
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

  @media screen and (max-width: 1100px) {
.waviy {
  font-size: 80px;
}
}
@media screen and (max-width: 900px) {
.waviy {
  font-size: 74px;
}
}
@media screen and (max-width: 500px) {
.waviy {
  .coming-section{
    min-height: 100px;
  }
  font-size: 38px;
}
}
@media screen and (max-width: 400px) {
.waviy {
  font-size: 32px;
}
}
