/* Mehedi Hasan Landing page
  =========================================================
  
  =========================================================
  
  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  */
  /* Primary Font for h1 h2 h3 h4 h5 h6 heading */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
/* Secondary or Pragraph font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary: #fa26a0;
  --secondary: #0F1426;
  --cyan: #2ff3e0;
  --gold: #f8d210;
  --chiliPepper: #f51720;
  --white: #fff;
  --blue: #79a9f5;
  --indigo: #c45f90;
  --purple: #a16ae8;
  --pink: #fc8bc0;
  --red: #f85c70;
  --orange: #ff8882;
  --yellow: #fad02c;
  --green: #a3c14a;
  --teal: #20c997;
  --cyan: #47d8e0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --success: #a3c14a;
  --info: #47d8e0;
  --warning: #ff8882;
  --danger: #f85c70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-sans-serif: "Source Sans Pro", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--secondary);
  font-family: var(--font-sans-serif);
}
a{
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
}
/* ------------Layout Container Style----------------- */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* =================================================== */
.btn {
  font-family: var(--font-roboto-mono);
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
  position: relative; /* Ensure relative positioning */
  display: inline-block; /* Make sure the anchor tag behaves like a block */
}

.btn-primary{
  margin: 5px 0;
  padding: 4px 30px;
  font-size: 15px;
  font-weight: 700;
  background: transparent;
  color: var(--primary);
  text-transform: uppercase;
  border: 2px solid var(--primary);
  border-radius: 4px;
}

.btn-primary:hover {
  color: var(--secondary);
}

.btn-primary span {
  transition: all 0.8s;
  z-index: -1;
}

.btn-primary .first, .btn-primary .second, .btn-primary .third, .btn-primary .fourth {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background: var(--primary);
  transform: rotate(45deg);
}

.btn-primary .first {
  right: 105%;
  top: 0;
}

.btn-primary:hover .first {
  right: 0;
  transform: rotate(0deg);
}

.btn-primary .second {
  left: 25%;
  top: -155%;
}

.btn-primary:hover .second {
  top: 0;
  left: 50%;
  transform: rotate(0deg);
}

.btn-primary .third {
  left: 50%;
  top: 155%;
}

.btn-primary:hover .third {
  top: 0;
  left: 25%;
  transform: rotate(0deg);
}

.btn-primary .fourth {
  left: 105%;
  top: 0;
}

.btn-primary:hover .fourth {
  left: 0;
  transform: rotate(0deg);
}
/* ================================================================================ */
.btn-secondary {
}
.btn-secondary:hover {
}

