/* Mehedi Hasan Landing page
  =========================================================
  
  =========================================================
  
  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  */
  /* Primary Font for h1 h2 h3 h4 h5 h6 heading */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
/* Secondary or Pragraph font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary: #fa26a0;
  --secondary: #0F1426;
  --cyan: #2ff3e0;
  --gold: #f8d210;
  --chiliPepper: #f51720;
  --white: #fff;
  --blue: #79a9f5;
  --indigo: #c45f90;
  --purple: #a16ae8;
  --pink: #fc8bc0;
  --red: #f85c70;
  --orange: #ff8882;
  --yellow: #fad02c;
  --green: #a3c14a;
  --teal: #20c997;
  --cyan: #47d8e0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --success: #a3c14a;
  --info: #47d8e0;
  --warning: #ff8882;
  --danger: #f85c70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-sans-serif: "Source Sans Pro", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}
*, span {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--secondary);
  font-family: var(--font-roboto-mono);
  font-size: 20px;
  font-weight: 500;
}
.btn {
  font-family: var(--font-roboto-mono);
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}
/* ------------------- Primary Button with Hover Effect--------------- */
.btn-primary{
  margin: 5px 0;
  padding: 4px 30px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  background: transparent;
  color: var(--primary);
  text-transform: uppercase;
  border: 2px solid var(--primary);
  border-radius: 4px;
}

.btn-primary:hover {
  color: var(--secondary);
}
.btn-primary span {
  transition: all 0.8s;
  z-index: -1;
}

.btn-primary .first {
  content: "";
  position: absolute;
  right: 105%;
  top: 0;
  width: 25%;
  height: 100%;
  background: var(--primary);
  transform: rotate(45deg);
}

.btn-primary:hover .first {
  top: 0;
  right: 0;
  transform: rotate(0deg);
}
.btn-primary .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -140%;
  height: 100%;
  width: 25%;
  background: var(--primary);
  transform: rotate(45deg);
}

.btn-primary:hover .second {
  top: 0;
  left: 50%;
  transform: rotate(0deg);
}

.btn-primary .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 140%;
  width: 25%;
  background: var(--primary);
  transform: rotate(45deg);
  
}

.btn-primary:hover .third {
  top: 0;
  left: 25%;
  transform: rotate(0rad);
}

.btn-primary .fourth {
  content: "";
  position: absolute;
  left: 105%;
  top: 0;
  height: 100%;
  width: 25%;
  background: var(--primary);
  transform: rotate(45deg);
}

.btn-primary:hover .fourth {
  top: 0;
  left: 0;
  transform: rotate(0rad);
}
/* ================================================================================ */
.btn-secondary {
}
.btn-secondary:hover {
}

