/* --------- Header Style ------ */
.header-section{
  position: relative;
  height: 40vh;
  min-height: 300px;
  overflow: hidden;
  color: var(--white);
}
@media (min-width: 576px) {
  .header-section {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .header-section {
    height: 60vh;
  }
}

@media (min-width: 992px) {
  .header-section {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  .header-section {
    height: 80vh;
  }
}

.bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.header-section .container{
  position: relative;
  z-index: 0;
  height: 100%;
}
.header-section .social-icons{
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 180px;
}
.header-section .social-link{
  font-size: 17px;
  color: inherit;
}
.header-section .header-content{
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}
.header-section .header-content .header-subtitle{
  color: inherit;
  font-weight: 500;
  font-size: calc(20px + (45 - 20)*((100vw - 300px)/(1600 - 300)));
}
.header-section .header-content .header-title{
  color: inherit;
  font-weight: bold;
  font-size: calc(40px + (120 - 40)*((100vw - 300px)/(1600 - 300)));
  line-height: 1;
}
.header-section .header-content .header-mono{
  color: inherit;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: calc(14px + (19 - 12)*((100vw - 300px)/(1600 - 300)));
  line-height: 1.3;
}
.header-section .content-button {
  width: fit-content;
  background: #000000c7;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.header-section .content-button .btn {
  margin-bottom: -4px !important;
}
/* ============================= */

/* ----------------- navigation bar ----------------------- */
/* Initially show the brand-img and hide the brand-text */

.navbar .brand .brand-img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navbar .brand .brand-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* When the navbar is sticky, hide the brand-img and show the brand-text */
.navbar.sticky .brand .brand-img {
  opacity: 0;
}

.navbar.sticky .brand .brand-text {
  opacity: 1;
}



/* Sticky Navbar */
.sticky-top {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 9999;
}
/* Navbar Style */
.navbar {
  box-shadow: 0 1px 10px rgba(45, 45, 45, 0.18);
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  justify-content: space-between;
  color: var(--secondary);
}

.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.collapse:not(.show) {
  display: none;
}
.collapse.show {
  display: block;
}
.navbar-collapse {
  flex-basis: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar .navbar-nav .nav-link {
  color: inherit;
  font-weight: bold;
  display: block;
  font-size: 17px;
  line-height: 2;
  padding: 0.5rem 1rem;
}
.navbar .nav-link:hover {
  color: var(--primary);
}
.navbar .nav-link.active {
  color: var(--primary);
}
.navbar .navbar-nav:first-child .nav-item:first-child .nav-link {
  padding-left: 0;
}
.navbar .navbar-nav:last-child .nav-item:last-child .nav-link {
  padding-right: 0;
}
.navbar .navbar-nav.brand {
  text-align: center;
}
.navbar .brand .brand-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-65%, -50%);
  width: 170px;
  border: 10px solid #fff;
  z-index: 2;
  transition: .5s !important;
  box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
  border-radius: 50%;
}
.navbar .brand .brand-text {
  position: relative;
  bottom: -20;
  transition: 1s;
  z-index: 1;
}
.navbar .brand .brand-subtitle {
  font-size: 13px;
  color: #888;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* ======================================================== */



form {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#formResponse {
  margin-top: 10px;
  font-weight: bold;
}
